<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>259D412A1E7F3668000DE2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259D413E1E7F3669000DE2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259D41491E7F3669000DE2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
